---
title: Uses - Software & Hardware I use daily - Chris Collins
layout: base.njk
permalink: false
---

<section class="container">
{% for section in uses %}
<h2 class="text-3xl font-bold mb-6">{{ section.title }}</h2>

<ul class="flex flex-wrap items-start -mx-4">
{% for item in section.items %}
  <li class="w-full md:w-1/2 px-4 my-3">
    <article class="flex pb-4 border-b">
        <figure class="w-10 h-10 mr-4 {% if not item.image %} rounded-full bg-gray-200 {% endif %}">
          {% if item.image %}
          <img class="h-full mx-auto mr-4" src="{{ item.image }}" alt="">        
          {% endif %}
        </figure>
        <div class="flex items-center justify-between w-full">
          <div class="flex-1">
            <h3>{{ item.name }}</h3>
            {% if item.summary %}
            <p class="text-sm text-gray-700">{{ item.summary }}</p>
            {% endif %}
          </div>
          <a href="{{ item.link }}" class="ml-2 bg-gray-200 rounded-full text-sm uppercase font-bold px-2 py-1 no-underline flex">Get</a>
        </div>
    </article>
  </li>
{% endfor %}
{% if sections in section %}
  {% for section in section.sections %}
    <li class="w-full md:w-1/2 px-4 my-3">
      <article class="flex pb-4 border-b">
          <figure class="w-10 h-10 mr-4 {% if not item.image %} rounded-full bg-gray-200 {% endif %}">
            {% if item.image %}
            <img class="h-full mx-auto mr-4" src="{{ item.image }}" alt="">        
            {% endif %}
          </figure>
          <div class="flex items-center justify-between w-full">
            <div class="flex-1">
              <h3>{{ item.name }}</h3>
              {% if item.summary %}
              <p class="text-sm text-gray-700">{{ item.summary }}</p>
              {% endif %}
            </div>
            <a href="{{ item.link }}" class="ml-2 bg-gray-200 rounded-full text-sm uppercase font-bold px-2 py-1 no-underline flex">Get</a>
          </div>
      </article>
    </li>
  {% endfor %}
{% endif %}
</ul>
{% endfor %}

</section>