<footer class="mt-24 mb-12 text-xs">
  <ul class="flex -mx-2">
    <li class="mx-2"><a href="/">Home</a></li>
    <li class="mx-2"><a href="/notes/feed.xml">RSS</a></li>
    <li class="mx-2"><a href="/privacy">Privacy</a></li>
    <li class="mx-2"><a href="/colophon">Colophon</a></li>
  </ul>
</footer>