<section class="flex py-10 lg:py-20 border-t border-b border-dotted">
  <div class="w-1/2">
    <h2 class="font-bold text-sm mb-3 uppercase text-gray-500">Pages</h2>

    <ul class="leading-relaxed mb-12">
      <li><a href="/about">About</a></li>
      <li><a href="/uses">Uses</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/bookmarks">Bookmarks</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <h2 class="font-bold text-sm mb-3 uppercase text-gray-500">Elsewhere</h2>

    <ul class="leading-relaxed">
      <li><a href="https://twitter.com/scottishstoater">Twitter</a></li>
      <li><a href="https://github.com/scottishstoater">GitHub</a></li>
      <li><a href="https://instagram.com/scottishstoater">Instagram</a></li>
    </ul>
  </div>

   <div class="w-1/2">
    <h2 class="font-bold text-sm mb-3 uppercase text-gray-500">Indexes</h2>

    <ul class="leading-relaxed">
      <li><a href="https://photos.chriscollins.me">Photos</a></li>
      <li><a href="/logbook">Logbook</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/notes">Notes</a></li>
    </ul>
  </div>
</section>