<div class="flex md:flex-col items-start no-underline h-full rounded block">
  <a href="{{ post.url }}" aria-hidden="true" tabindex="-1" class="relative mr-3 md:mr-0 w-32 h-24 md:w-full md:h-auto md:pb-16/9 rounded-lg overflow-hidden bg-gray-200">
    <img class="lazy absolute h-full w-full object-cover transform hover:scale-105 transition ease-in-out rounded-lg" src="/static/image-placeholder.png" data-src="{{ post.url | url }}{{ post.data.featured_image }}" alt="{{ post.data.featured_image_alt }}">
  </a>

  <div class="flex-1">
    <a href="{{ post.url }}" class="no-underline">
      <h3 class="font-semibold text-sm sm:text-base leading-snug mb-2 md:my-3 md:text-lg">{{ post.data.title }}</h3>
    </a>

    {% include "components/post-meta.njk" %}
  </div>
</div>
