---
title: Home
layout: base
---

    <div class="center mw8 db dt-l w-100 border-box pa4 ph5-l ">

<main class="pv3-ns ph5-ns mw7 center tc">
  <h1 class="f1 f-headline-ns lh-copy fw6 ma0">Hello</h1>
  <p class="f4 lh-copy mb0">
    I'm a Digital Product Designer from Glasgow currently working at <a href="https://www.arnoldclark.com" title="Arnold Clark">Arnold
      Clark</a>. My passion lies in building digital products, with a focus on user experience, accessibility and
    performance.
  </p>
</main>
</div>

    <div class="center mw8 db dt-l w-100 border-box pa4 ph5-l ">

  <div class="dt v-mid w-100">
    <div class="dtc pr4">
      <h2 class="fw5 f4">Recent notes</h2>
    </div>
    <div class="dtc tr w-auto">
      <a href="/notes">View all</a>
    </div>
  </div>


<div class="flex-ns mt3">
    {% for post in site.posts limit: 3 %}
    <div class="w-100 w-third-l mb3 mb0-m br2 ba b--black-10 overflow-hidden flex flex-column post-card {% if forloop.last == false %}mr4{% endif %}">
      <a href="{{post.url}}" class="link lh-title fw5 "><img src="{% if post.featured_image %}{{post.featured_image}}{% else %}/static/fallback.jpg{% endif %}" class="w-100 db" alt="Closeup photo of a tabby cat yawning."></a>
      <div class="pa3">
            <small class="gray db pb2"><time>{{ post.date | date: "%-d %B %Y"}}</time></small>

          <a href="{{post.url}}" class="link lh-title fw5" title="{{post.title}}">
            <h2 class="link lh-title fw5 pa0 f4 ma0">{{ post.title }}</h2>
          </a>
      </div>
           
      </a>
    </div>
  {% endfor %}






  </div>

  

</div>

</div>