<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <title>{{ page.title }} | {{ site.title }}</title>
  {% if description %}
    <meta name="description" content="{{ description | safe }}">
    {% else %}
    <meta name="description" content="{{ site.description | safe }}">
  {% endif %}
  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
