<nav class="db w-100 bb b--black-10">
  <div class="center mw8 dt w-100 border-box pv3 ph4 ph5-l ">
    <div class="dtc">
      <a class="center v-mid w2 h2" href="/" title="Home">
        <img
          src="/static/avatar.jpg"
          class="dib w2 h2 br-100"
          alt="Chris Collins"
        />
      </a>
    </div>
    <div class="dtc v-mid tr">
      <a class="f6 f5-l dib mr3 mr4-l" href="/" title="Home">Home</a>
      <a class="f6 f5-l dib mr3 mr4-l" href="/notes" title="Blog">Notes</a>
      <a class="f6 f5-l dib" href="/contact" title="Contact">Contact</a>
    </div>
  </div>
</nav>
