---
layout: base.njk
---

<section class="w-full">
    <div class="container">
        <h1 class="text-3xl md:text-5xl leading-tight mb-4 p-name font-semibold">
            <a href="{{ page.url }}" class="no-underline u-url">{{ name }}</a>
        </h1>
        <div class="lg:w-2/3">
            {% if excerpt %}
            <h2 class="mb-8 font-semibold">{{ excerpt }}</h2>
            {% endif %}
        </div>
    </div>

    <article class="container h-entry mb-8 flex flex-col lg:flex-row-reverse items-start">
        <aside class="w-full lg:w-auto mb-4 py-4 lg:sticky lg:top-4 lg:ml-6 lg:flex-auto order-first lg:order-none border-t border-b">
            <ul class="text-base">
                <li class="flex py-1 justify-between">Date: <time itemprop="datePublished" class="dt-published" datetime="{{ page.date | htmlDateString }}"><strong>{{ page.date | readableDate }}</strong></time>
                </li>
                <li class="flex py-1 justify-between">Time taken: <span class="ml-2 text-right"><strong>{{ time }}</strong></span></li>
                <li class="flex py-1 justify-between">Ascent: <span class="ml-2 text-right"><strong>{{ ascent }}</strong></span></li>
                {% if munros %}
                    <li class="py-1 justify-between">Munros: 
                        <ul class="list-disc list-inside ml-2 my-2">
                        {% for munro in munros %}
                            <li>{{ munro }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                <li class="flex py-1 justify-between">Rating: <span class="ml-2 text-right">{{ rating }}</span></li>
            </ul>
        </aside>

        <div class="lg:mr-6 lg:w-2/3 lg:order-none">
            <div class="e-content lg:text-lg  markdown">
                {{ content | safe }}
            </div>

            <div class="e-content lg:text-lg mt-8 border-t">
                {% include "webmentions.njk" %}
            </div>
        </div>
    </article>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ site.url }}{{ page.url | url }}"
            },
            "headline": "{{ name }}",
            "image": "{{ site.url }}{{ page.url | url }}{{ featured_image }}",
            "author": {
                "@type": "Person",
                "name": "Chris Collins"
            },
            "datePublished": "{{ page.date | htmlDateString }}"
        }
    </script>
</section>