---
layout: base.njk
---

<div class="container">
    <section class="w-full max-w-2xl note markdown">
        {{ content | safe }}
    </section>

    {% if show_webmentions %} 
        {% include "components/webmentions.njk" %}
    {% endif %}
</div>
