---
layout: base.njk
---

<main class="container my-20">
   <div class="mt-4 mb-8 md:my-20">
    <h1 class="font-bold text-4xl md:text-5xl mb-4">{{ title }}</h1>
    {% if last_updated %}
      <p class="text-sm text-gray-600">Last updated <time data-date="{{ last_updated }}" datetime="{{ last_updated | htmlDateString }}" class="post-date">{{ last_updated | prettyDate }}</time></p>
    {% endif %}
  </div>

  <div class="prose text-black font-serif mt-4 mb-8 md:my-20">
    {{ content | safe }}
  </div>
</main>