---
layout: base.njk
---

<main class="container my-20">
  <div class="mt-4 mb-8 md:my-20">
    <h1 class="font-bold text-4xl md:text-5xl mb-4">{{ title }}</h1>
    <time data-date="{{ page.date }}" datetime="{{ page.date | htmlDateString }}" class="post-date text-gray-600">{{ page.date | prettyDate }}</time>
  </div>

  <div class="prose max-w-none text-black mt-4 mb-8 md:my-20">
    {{ content | safe }}
  </div>
</main>