<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or site.description }}" />
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#ffffff">

    <title>{{ title or site.title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="author" href="{{ site.url }}">

    <link href="https://github.com/chrisssycollins" rel="me">
    <link href="https://twitter.com/scottishstoater" rel="me">
    <link href="https://instagram.com/scottishstoater" rel="me">

    <link rel="webmention" href="https://webmention.io/www.chriscollins.me/webmention" />
    <link rel="pingback" href="https://webmention.io/www.chriscollins.me/xmlrpc" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ site.title }}">

    <!-- Open Graph meta -->
    <meta property="og:url" content="{{ site.url}}{{ page.url }}" />
    <meta property="og:title" content="{{ title or site.title }}" />
    <meta property="og:description" content="{{ description or site.description }}" />
    {% if site.social_meta.featured_image or featured_image %}
    <meta property="og:image" content="{{ featured_image or site.social_meta.featured_image }}" />
    {% endif %}
    <meta name="twitter:card" content="{{ description or site.social_meta.description }}" />
    {% if site.social_meta.twitter %}
    <meta name="twitter:site" content="{{ site.social_meta.twitter }}" />
    <meta name="twitter:creator" content="{{ site.social_meta.twitter }}" />
    {% endif %}
    
    {% if site.ENV === 'production' %}
      {% set css %}{% include "stylesheets/app.compiled.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/assets/static/app.compiled.css">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
        {% include "partials/header.njk" %}
        <main id="main" class="flex-auto md:flex md:items-center fade-in-bottom">
            {{ content | safe }}
        </main>
        {% include "partials/footer.njk" %}
    </div>
    {% set scripts %}{% include "scripts/app.js" %}{% endset %}
    <script>
        {{ scripts | safe }}
    </script>
    <script src="https://instant.page/2.0.0" type="module" defer integrity="sha384-D7B5eODAUd397+f4zNFAVlnDNDtO1ppV8rPnfygILQXhqu3cUndgHvlcJR2Bhig8"></script>
  </body>
</html>