<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#ffffff">

    <title>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="author" href="{{ site.author }}">

    <!-- Open Graph meta -->
    <meta property="og:url" content="{{ site.url}}{{ page.url }}" />
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
    {% if site.social_meta.featured_image or featured_image %}
    <meta property="og:image" content="{% if featured_image  %}{{ featured_image }}{% else %}{{ site.social_meta.featured_image }}{% endif %}" />
    {% endif %}
    <meta name="twitter:card" content="{% if description %}{{ description }}{% else %}{{ site.social_meta.description }}{% endif %}" />
    {% if site.social_meta.twitter %}
    <meta name="twitter:site" content="{{ site.social_meta.twitter }}" />
    <meta name="twitter:creator" content="{{ site.social_meta.twitter }}" />
    {% endif %}
    
    {% if site.ENV == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% capture css %}{% include stylesheets/app.css %}{% endcapture %}
      <!-- feed it through our cssmin filter to minify -->
      <style> 
        {{ css | cssmin | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/assets/static/app.css">
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51066910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-51066910-1');
    </script>
  </head>
  <body>
    {% include partials/header.html %}
    {{ content }}
    {% include partials/footer.html %}
  </body>
  <script>
    window.intercomSettings = {
      app_id: "tjsei8t0"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/tjsei8t0';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
</html>
