---
layout: layouts/base
---

<article class="container mx-auto leading-normal h-entry mb-8">
    <header class="sm:text-center mb-4 pb-2 sm:mb-8 sm:py-8 mx-auto">
        <a href="{{ page.url }}" class="no-underline u-url"><h1 class="text-3xl sm:text-3xl md:text-5xl dm-serif-display mb-4 leading-tight p-name">{{ title }}</h1></a>
        <time class="text-gray-500 uppercase text-xs font-bold tracking-wider dt-published" datetime="{{ page.date | w3cDate }}">{{ page.date | date: "%d%q %B %Y" }}</time>
    </header>

    {% if featured_image %}
    <img src="{{featured_image}}" class="mb-10" alt="{{ title }}" />
    {% endif %}

    <div class="max-w-xl mx-auto e-content md:text-lg leading-normal markdown">
        {{ content }}
    </div>
</article>
