.markdown {
  @apply leading-normal;

  p {
    @apply my-6;
  }

  a {
    @apply text-blue-500;
  }

  ul,
  ol {
    @apply my-6 ml-8 list-outside;
    li {
      @apply my-1;

      ul {
        @apply my-3;
        list-style-type: circle;
      }
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul ul,
  ol ul,
  ul ol,
  ol ol {
    @apply my-0 ml-4;
  }

  blockquote {
    @apply my-6;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-10 leading-tight font-bold;
  }

  h1 {
    @apply text-4xl leading-tight mt-0 mb-6 font-semibold;

    @media (min-width: 768px) {
      @apply text-6xl;
    }
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  /* Tables */
  table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse;
  }

  table td,
  table th {
    padding: 0;
    line-height: 33px;
    @apply border p-2;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    .anchor {
      display: none;
      position: absolute;
      top: 0;
      left: -1em;
      width: 1em;
      opacity: 0;

      &:hover {
        display: block;
        opacity: 1 !important;
      }
    }

    &:hover {
      > .anchor {
        display: block;
        opacity: 1;
      }
    }
  }
}
