@import '_tailwind.css';
@import '_markdown.css';
@import '_syntax.css';
@import '_utils.css';
@import '_animation.css';

html {
  font-family: 'IBM Plex Sans', -apple-system, 'Inter', BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
body {
  @apply text-gray-900 text-lg;
}

/* purgecss start ignore */
:focus, button:focus {
    outline: solid  3px rgba(0,0,0,0.1);
    outline-offset: 4px;
}

input:focus, textarea:focus {
    outline-offset: 0;
}
/* purgecss end ignore */

.fadeIn {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scroll-snap {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll-snap-child {
  scroll-snap-align: start;
}

.filter-grayscale {
  filter: grayscale(100%) contrast(1.2);
}

.hover\:filter-grayscale:hover {
  filter: grayscale(100%) contrast(1.2);
}

.hover\:filter-none {
  filter: none;
}

.navbar ul li a {
  position: relative;
  @apply no-underline mr-1 py-3 mx-2;

  &:after,
  &:before {
    content: '';
    position: absolute;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    @apply rounded-full;
  }

  &:after {
    @apply bg-gray-200;
    width: 0;
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }

  &.active {
    @apply text-blue-500;

    &:after {
      @apply bg-blue-500;
      width: 100%;
    }
  }
}

a,
a:visited {
  @apply underline;

  &:hover {
    @apply text-blue-600;
  }
}

.button {
  @apply p-3 bg-gray-300 font-bold text-lg;

  &:hover , &:focus {
    @apply bg-blue-600 text-white;
  }
}

.text-input {
  @apply appearance-none rounded-none block w-full p-3 border-2;

  &:focus {
    @apply bg-gray-100 border-black;
  }
}

.input-label {
  @apply font-bold text-lg leading-normal mb-1 block;
}
