@import '_tailwind.css';

/* purgecss start ignore */

@import '_markdown.css';
@import '_syntax.css';
@import '_utils.css';
@import '_animation.css';

html {
  font-family: 'Inter', -apple-system, 'Inter', BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
body {
  @apply text-gray-900;
}

/* purgecss start ignore */

:focus, button:focus {
    outline: dotted  1px rgba(0,0,0,0.1);
    outline-offset: 4px;
}

input:focus, textarea:focus {
    outline-offset: 0;
}

.fadeIn {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scroll-snap {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll-snap-child {
  scroll-snap-align: start;
}

.filter-grayscale {
  filter: grayscale(100%) contrast(1.2);
}

.hover\:filter-grayscale:hover {
  filter: grayscale(100%) contrast(1.2);
}

.hover\:filter-none {
  filter: none;
}

a,
a:visited {
  @apply underline;
}

.button {
  @apply p-3 bg-gray-300 font-bold text-lg;

  &:hover , &:focus {
    @apply bg-blue-500 text-white;
  }
}

.text-input {
  @apply appearance-none rounded-lg block w-full p-3 border-2;
  outline: 0;

  &:focus {
    @apply bg-white border-blue-500;
  }
}

.input-label {
  @apply font-bold text-lg leading-normal mb-1 block;
}

/* purgecss end ignore */