
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'utils/_accessibility.css';

/* purgecss start ignore */
@import 'utils/_syntax.css';

::selection { 
	@apply bg-yellow-200;
}

/* html {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	font-size: calc(.9em + .3vw);
	text-rendering: optimizeSpeed;
	line-height: 1.6
} */

.container {
	@apply mx-auto max-w-2xl px-6;
}

.prose figure {
	@apply my-3;
}

@media (min-width: 1024px) { 
	.prose figure {
		@apply my-6;
	}
}

.fade-in {
	animation: fade-in 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* purgecss end ignore */