---
layout: base
title: Notes
---

<div class="center mw8 db dt-l w-100 border-box pa4 ph5-l ">
  <main class="pv3-ns ph5-ns mw7 center tc">
    <h1 class="f1 f-headline-ns lh-copy fw6 ma0">Notes</h1>
    <p class="f4 lh-copy mb0">
      A random collection of notes and rambling about anything and everything.
    </p>
  </main>
</div>

<div class="center mw7 db dt-l w-100 border-box pa4 ph5-l ">
  <div class="mt3">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="link lh-title fw5" title="{{ post.title }}">
      <div
        class="w-100 mb3 mb0-m br2 ba b--black-10 overflow-hidden flex flex-row post-card {% if forloop.last == false %}mr4{% endif %}"
      >
        <div class="pa3">
          <small class="gray db pb2"
            ><time>{{ post.date | date: '%-d %B %Y' }}</time></small
          >
          <h2 class="link lh-title fw5 pa0 f4 ma0">{{ post.title }}</h2>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
