---
layout: base.njk
title: Notes

pagination:
  data: collections.notes
  size: 10
---


<main class="my-20">
  <div class="container">
   <div class="mt-4 mb-8 md:my-20">
			<h1 class="font-bold text-4xl md:text-5xl mb-4">{{ title }}</h1>
			<p class="text-sm text-gray-600">Personal notes and snippets of code.</p>
		</div>

    <ul>
      {% set items = pagination.items | reverse %}

      {% for entry in items %}
      <li class="mb-3 lg:mb-0"><a class="py-1 lg:flex items-center justify-between no-underline" href="{{ entry.url }}"><span class="underline">{{ entry.data.title }}</span> <time data-date="{{ entry.date }}" datetime="{{ entry.date | htmlDateString }}" class="post-date block text-gray-500 text-sm mt-1 lg:mt-0">{{ entry.date | prettyDate }}</time></a></li>
      {% endfor %}
    </ul>
  </div>
</main>