.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  @apply no-underline;
}

.skip-link:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  width: auto;
  @apply bg-blue-500 p-3 text-white;
}