---
layout: layouts/base.njk
title: Log - Chris Collins
pagination:
    data: collections.log
    size: 100
    alias: log
---

<section class="container my-4">
    <h1 class="text-4xl md:text-6xl dm-serif-display leading-tight dm-serif-display mb-6">Log</h1>
    <div class="sans-serif ">
        <p class="text-lg max-w-xl">Personal log of hikes, walks and climbs. Total of {{ collections.log.length }} logged so far.</p>


        <ul class="my-8">
        {% for hike in log %}
            <li class="py-1 mb-2 md:mb-0">
                <div class="text-xs text-gray-500 tracking-wider font-bold uppercase"><time>{{ hike.data.date | simpleDate }}</time> {% if hike.data.munro %} <span class="text-gray-800"> - </span>  Munro {% endif %}</div>
                <h3 class=" mb-0 mr-2">{{ hike.data.title }}</h3>               
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if pagination.pageLinks.length > 1 %}
    <nav class="mt-6 pt-6 border-t border-grey-light flex justify-between text-sm">


    <div> {% if pagination.nextPageHref %}
        <a class="no-underline hover:underline" href="{{ pagination.nextPageHref | url }}">← Newer</a>
        {% endif %}</div>

            <div> {% if pagination.previousPageHref %}
        <a class="no-underline hover:underline" href="{{ pagination.previousPageHref | url }}">Older →</a>
        {% endif %}</div>
    </nav>
    {% endif %}
</section>

