---
layout: base
---

<div class="center db w-100 border-box pv3 ph4 ph5-l mw7">
  <div class="tc-ns mt4-ns db">
    <h1 class="ma0 f2 f1-ns lh-title">{{ page.title }}</h1>
    <small class="gray db pv2"><time>{{ page.date | date: "%-d %B %Y"}}</time></small>
  </div>
</div>

{% if page.featured_image %}
<div class="center db w-100 border-box mw8 mt4-ns">
  <img src="{{ page.featured_image }}" class="w-100 ma0 pa0" alt="{{ page.title }}" />
</div>
{% endif %}

<div class="center db w-100 border-box pv3 ph4 ph5-l mw7">
  <div class="f4 lh-copy black-90 post-content">
    {{ content }}
  </div>
</div>