---
layout: base.njk
title: Logbook

pagination:
  data: collections.log
  size: 1000

permalink: /logbook/index.html
---


<main class="my-20">
  <div class="container">
   <div class="mt-4 mb-8 md:my-20">
    <h1 class="font-bold text-4xl md:text-5xl mb-4">{{ title }}</h1>
			<p class="text-sm text-gray-600 font-serif">A personal log book of hill climbs, camping trips and cycles.</p>
		</div>

    <ul class="border border-b-0">
      {% set items = pagination.items | reverse %}

      {% for entry in items %}

      {% if entry.data.symbol %}
        {% set symbol = entry.data.symbol %}
      {% else %}
        {% set symbol = "🥾" %}
      {% endif %}

      {% if entry.url %}
        <li class="border-b px-2">
          <a href="{{ entry.url }}" class="no-underline mb-1 lg:mb-0 flex items-center justify-between py-1">
            <span>{{ symbol }} <span class="ml-2 underline">{{ entry.data.title }}</span></span> <time class="block text-gray-500 text-xs mt-1 lg:mt-0">{{ entry.date | prettyDate }}</time>
          </a>
        </li>
      {% else %}
        <li class="mb-1 lg:mb-0 flex items-center justify-between py-1 px-2 border-b">
            <span>{{ symbol }} <span class="ml-2">{{ entry.data.title }}</span></span> <time class="block text-gray-500 text-xs mt-1 lg:mt-0">{{ entry.date | prettyDate }}</time>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</main>
