---
title: About Chris Collins - Full Stack Developer & Designer in Glasgow 
description: I'm Chris, a Full Stack Developer & Designer currently based in Glasgow. At present, I work at STV News.
layout: base.njk
---

<section class="md:flex md:items-center container">
  <main class="markdown md:mr-8 md:w-2/3">
    <h1>About</h1>

    <p>I'm Chris, a Coder, Designer and wannabe Photographer currently based in Glasgow, Scotland. I work at <a href="https://news.stv.tv">STV News</a> - a media and news company in Scotland - building digital products alongside the news team. Previously, I was a UX Engineer at Arnold Clark and a Web Developer at Ultralinx. </p>
    <p>I began writing code at 9 years old; with the solid help of Geocities, Dreamweaver, and a lot of copy and paste. This is ultimately where my coding journey began and I'm still on the trip, still learning every day.</p> 
    <p>I am a passionate supporter and believer in the open web. I care deeply about great user experiences, digital privacy and the inclusion of every person using the web.</p>
    <p>Away from a computer you’ll find me taking photos around Scotland, up a mountain or cycling. See my <a href="https://www.instagram.com/scottishstoater">Instagram for photos</a>. </p>
  </main>

  <aside class="md:ml-8 mb-8 md:mb-0 md:w-1/3">
  <figure class="my-8">
    <img src="/static/image-placeholder.png" data-src="/static/ccls.jpg" class="lazy shadow-lg rounded-lg lg:h-64 w-full object-cover mx-auto" alt="Chris and his wife">
  </figure>

  <ul class="social">
    <li class="flex items-center justify-between py-2"><span class="font-bold">Email</span> <a href="mailto:hello@chriscollins.me">hello@chriscollins.me</a></li>
    <li class="flex items-center justify-between py-2"><span class="font-bold">Instagram</span> <a href="https://instagram.com/scottishstoater">@scottishstoater</a></li>
    <li class="flex items-center justify-between py-2"><span class="font-bold">Twitter</span> <a href="https://twitter.com/scottishstoater">@scottishstoater</a></li>
    <li class="flex items-center justify-between py-2"><span class="font-bold">Github</span> <a href="https://github.com/scottishstoater">@scottishstoater</a></li>
  </ul>
  </aside>

</section>