---
title: About Chris Collins - Full Stack Developer & Designer in Glasgow 
description: I'm Chris, a Full Stack Developer & Designer currently based in Glasgow. At present, I work at STV News.
layout: base.njk
---

<section class="md:flex md:items-center container">
  <figure class="md:mr-8 mb-8 md:mb-0">
    <img src="/static/20200319104450.jpg" class="rounded-t-lg" alt="Photo of Chris and his son">
    <figcaption class="text-sm rounded-b-lg p-3 bg-gray-100">A face to the name. (and that's Carter 👶🏼)</figcaption>
  </figure>

  <main class="markdown">
    <h1>About</h1>

    <p>I'm Chris, a Full Stack Developer & Designer currently based in Glasgow, Scotland. At present, I work at <a href="https://news.stv.tv">STV News</a> - a media and news company in Scotland as a Full Stack Developer. Previously, I worked as a UX Designer at Arnold Clark. </p>
    <p>I began writing code at 9 years old; with the solid help of Geocities, Dreamweaver, and a lot of copy and paste. This is ultimately where my web journey began and I'm still on the trip, still learning every day. </p> 
    <p>I am a passionate supporter of the open web and care deeply about great user experiences, digital privacy and the inclusion of every person using the web. </p>
    <p>Away from a computer you’ll find me taking photos around Scotland, up a mountain or playing around with that wee guy in the photo. See my <a href="/log">walk reports</a> and <a href="https://www.instagram.com/scottishstoater">Instagram for photos</a>. </p>
  </main>
</section>