---
layout: base.njk
title: Blog - Chris Collins
pagination:
    data: collections.posts
    size: 20
    alias: postlist
---

<section class="container">
    <h1 class="text-4xl md:text-6xl  leading-tight  mb-6 font-semibold">Blog</h1>
    <div>
        <p class="text-lg max-w-xl">A random collection of personal posts and ramblings about anything and everything.</p>

        <ol class="flex items-center flex-wrap mt-3">
            <li class="mr-2">
               <strong>Tags:</strong>
            </li>

            {% for tag in collections.tagList %}
                {% set tagUrl %}/blog/{{ tag | slug }}/{% endset %}
                <li>
                    <a href="{{ tagUrl | url }}">{{ tag | capitalize}}</a>
                    {%- if not loop.last -%}<span class="inline-block mr-1">,<span>{%- endif -%}
                </li>
            {% endfor %}
        </ol>

        {% set posts = postlist | reverse %}

        <ul class="flex flex-wrap md:-mx-6 my-6">
            {% for post in posts %}
                <li class="py-3 md:p-6 w-full md:w-1/2 lg:w-1/3">
                    {% include "components/blog-card.njk" %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>