---
layout: base.njk
title: Chris Collins - This is my personal space on the web
---

<div class="container">
    <main class="py-20">
        <p class="text-3xl md:text-5xl font-bold">Hi, I’m Chris Collins.</p>
				<span class="bg-black w-16 h-1 block my-8"></span>
				<p class="font-serif">This is my website. I use it to house things that interest me like <a href="/logbook">hiking</a>, <a href="https://photos.chriscollins.me">photos</a> and some <a href="/notes">notes</a>. </p>
        {% if site.availability.status %}
            <p class="inline-block mt-4 bg-green-200 text-sm px-4 py-2">I'm currently <strong class="font-bold">available</strong> for small to medium sized web projects.</p>
        {% else %}
            <p class="inline-block mt-4 bg-yellow-100 text-sm px-4 py-2">I'm currently <strong class="font-bold">unavailable</strong> for projects until at least {{ site.availability.until }}.</p>
        {% endif %}
    </main>
</div>