---
title: Chris Collins | Digital Product Designer (UX) based in Glasgow
description: Chris Collins is a designer and developer from Scotland currently working at STV.
layout: layouts/base.njk
---

<div class="container md:my-8">
    <div class="lg:flex items-center justify-between">
        <section class=" max-w-xl">
            <h1 class="text-xl md:text-3xl text-gray-600 dark-mode:text-gray-400 mb-1 leading-tight">Hello, I’m Chris</h1>
            <h2 class="text-3xl md:text-4xl leading-tight mb-4 md:mb-6 font-bold">I design and build digital products, hike and take photos.</span></h2>
            <p class="text-lg md:text-xl sans-serif max-w-xl">I'm currently a Full Stack Developer based in Glasgow, Scotland building things at <a href="https://news.stv.tv" class="cool-link" target="_blank">STV News</a>.</p>
        </section>
    </div>

    <aside class="sans-serif mt-8">
        <h3 class="text-gray-500 uppercase font-bold tracking-wider text-xs">Personal Projects</h3>
        <ul class="my-4 text-sm md:text-base text-gray-600 md:flex leading-normal">
            <li class="mr-4 mb-4">
                <a class="no-underline text-gray-900 hover:text-gray-700 dark-mode:text-white" href="https://github.com/chrisssycollins/web-starter">
                    <article class="max-w-xs flex items-start">
                        <figure class="rounded-full shadow-lg w-10 flex items-center">
                            <img class="rounded-full filter-grayscale hover:filter-none" src="/assets/images/jamstack-webstarter.svg">
                        </figure>
                        <div class="ml-2">
                            <h3 class="font-semibold text-lg leading-none mb-1">Web Starter</h3>
                            <p class="text-sm leading-tight">A modern static website workflow</p>
                        </div>
                    </article>
                </a>
            </li>

            <li class="mr-4 mb-4">
                <a class="no-underline text-gray-900 hover:text-gray-700 dark-mode:text-white dark-mode:hovertext-white" href="http://stillgamequiz.com">
                    <article class="max-w-xs flex items-start">
                        <figure class="rounded-full shadow-lg w-10 flex items-center">
                            <img class="rounded-full filter-grayscale hover:filter-none" src="/assets/images/stillgamequiz.svg">
                        </figure>
                        <div class="ml-2">
                            <h3 class="font-semibold text-lg leading-none mb-1">Still Game Quiz</h3>
                            <p class="text-sm leading-tight">Quiz about the TV show Still Game</p>
                        </div>
                    </article>
                </a>
            </li>
        </ul>
    </aside>
</div>