---
title: Chris Collins - Digital Product Designer (UX) based in Glasgow
description: Chris Collins is a designer and developer from Scotland.
layout: layouts/base.njk
---

<div class="container my-8">
    <section class="dm-serif-display max-w-2xl">
        <h1 class="text-xl md:text-3xl text-gray-600 dark-mode:text-gray-400 mb-1 leading-tight">Hello, I’m Chris</h1>
        <h2 class="text-4xl sm:text-6xl md:text-6xl dm-serif-display leading-none mb-4 md:mb-6">I design and build digital products.</span></h2>
        <p class="text-lg md:text-xl sans-serif max-w-xl">I currently work as a UI/UX Engineer at <a href="https://www.arnoldclark.com/careers/digital-product-development" class="cool-link" target="_blank">Arnold Clark</a> and hike around Scotland in my spare time.</p>

        <aside class="sans-serif mt-8">
            <h3 class="text-gray-500 uppercase font-bold tracking-wider text-xs">Recent Projects</h3>   
            <ul class="my-2 text-sm md:text-base text-gray-600 md:flex leading-normal">
                <li class="mr-4 pr-4 md:border-r"><a class="text-gray-900 dark-mode:text-gray-200"  href="https://github.com/chrisssycollins/web-starter">Web Starter</a></li>
                <li class="mr-4 pr-4 md:border-r"><a class="text-gray-900 dark-mode:text-gray-200"  href="https://www.stillgamequiz.com">Still Game Quiz</a></li>
                <li><a class="text-gray-900 dark-mode:text-gray-200" href="https://github.com/chrisssycollins/simple-journal">Simple Journal</a></li>
            </ul>
        </aside>
    </section>
</div>