---
layout: base.njk
title: Log
pagination:
    data: collections.log
    size: 100
    alias: log
---

<section class="container">
    <h1 class="text-4xl md:text-6xl  leading-tight  mb-6 font-semibold">Log</h1>
    <div class="sans-serif ">
        <p class="text-lg max-w-xl">Personal log of hikes, walks and climbs. Total of {{ collections.log.length }} logged so far.</p>


        <ul class="my-8 flex flex-wrap -mx-4">
        {% for hike in log %}
            <li class="py-1 mb-4 w-full sm:w-1/2 md:w-1/3 p-4">
                <article class="border rounded h-full p-2 flex flex-col">
                 <div class="text-xs text-gray-500 tracking-wider font-bold uppercase flex justify-between">
                    <time>{{ hike.data.date | simpleDate }}</time> 
                    {% if hike.data.munro %} <span class="text-orange-400 leading-none">Munro</span> {% endif %}
                </div>
                <h3 class="truncate item-end mb-0 mr-2 text-base">{{ hike.data.title }}</h3>          
                </article>     
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if pagination.pageLinks.length > 1 %}
    <nav class="mt-6 pt-6 border-t border-grey-light flex justify-between text-sm">
    <div> {% if pagination.nextPageHref %}
        <a class="no-underline hover:underline" href="{{ pagination.nextPageHref | url }}">← Newer</a>
        {% endif %}</div>

            <div> {% if pagination.previousPageHref %}
        <a class="no-underline hover:underline" href="{{ pagination.previousPageHref | url }}">Older →</a>
        {% endif %}</div>
    </nav>
    {% endif %}
</section>

