---
layout: base.njk
title: Notes
pagination:
    data: collections.notes
    size: 20
    alias: sorted
---

<section class="container">
    <h1 class="text-4xl md:text-6xl  leading-tight  mb-6 font-semibold">Notes</h1>
    <div class=" ">
        <p class="text-lg max-w-xl">A random collection of personal notes and ramblings about anything and everything.</p>

        {% set notes = sorted | reverse %}

        <ul class="flex flex-wrap md:-mx-6 my-6">
            {% for note in notes %}
                <li class="scroll-snap-child py-3 md:p-6 w-full md:w-1/2 lg:w-1/3 flex-none overflow-hidden">
                    <a class="no-underline h-full rounded overflow-hidden block mb-4" href="{{ note.url }}">
                        <img class="rounded-lg" src="{{ note.data.featured_image }}">
                        <div class="h-full flex-col">
                            <span class="text-sm leading-none opacity-50 my-3 block">{{ note.data.date | prettyDate }}</span>
                            <h5 class="font-semibold leading-snug md:text-xl">{{ note.data.title }}</h5>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>