---
layout: "base.njk"
title: Chris Collins
description: Chris Collins is a Glasgow based multi-disciplinary software engineer working across digital design, web development and solutions architecture.
---

<figure class="home-header">
	<img src="/static/chriscollins.jpg" alt="Black and white photo of Chris">
</figure>

<section class="body-copy">
	<p><strong>Chris Collins is a <a href="https://en.wikipedia.org/wiki/Glasgow" target="_blank" rel="noopener">Glasgow</a> based multi-disciplinary software engineer working across digital design, web development and solutions architecture.<strong></p>
	<p>He currently works at <a href="https://news.stv.tv" target="_blank" rel="noopener">STV News</a>, where he builds and maintains digital products alongside the editorial news team. Previously, he was a UX Engineer at <a href="https://www.arnoldclark.com/careers/digital-product-development" target="_blank" rel="noopener">Arnold Clark</a>.</p>
	<p>He is a passionate supporter of the open web and cares deeply about great user experiences, digital privacy and the inclusion of every person using the web.</p>
	<p>Away from a computer you’ll find him taking photos around Scotland, climbing a mountain or cycling.</p>
</section>