.container {
  @apply max-w-5xl mx-auto px-8;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.dm-sans {
  font-family: 'DM Sans', sans-serif;
}

.dm-serif-display {
  font-family: 'DM Serif Display', serif;
}

.hover\:scale-down:hover {
  transform: scale(1.05);
  @apply shadow-lg;
}

.transition {
  transition: all .3s cubic-bezier(.0, 0, .07, 1);
}