@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    @apply text-black text-base;
    font-weight: 400;
}

a.external::after {
    @apply inline-block relative w-3 h-3;
    content: " ";
    top: -0.25rem;
    margin-left: 0.2rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0IDN2MmgzLjU5bC05LjgzIDkuODMgMS40MSAxLjQxTDE5IDYuNDFWMTBoMlYzbS0yIDE2SDVWNWg3VjNINWEyIDIgMCAwIDAtMiAydjE0YTIgMiAwIDAgMCAyIDJoMTRhMiAyIDAgMCAwIDItMnYtN2gtMnY3eiIvPjwvc3ZnPg==);
}

.transition {
    transition: all .2s ease-in-out;
}

.container {
    @apply max-w-xl mx-auto px-8;
}

.mountains {
    background-image: url('/assets/images/mountains-mobile.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 2rem 0 8em 0;
    
    @media (min-width: 600px) {
        padding: 4rem 0 6rem 0;
        background-image: url('/assets/images/mountains.svg');
    }
}

.hero {
    padding: 2rem 0;

    @media (min-width: 600px) {
        padding: 3rem 0;
    }
}

.mountains__stickman {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1rem;
}

a,
a:visited {
    @apply text-black;
}

a:hover {
    opacity: 0.75;
}

a.link-white ,a.link-white :visited {
	color: #fff;
}

a.active {
    @apply text-teal-dark underline;
}

.note p {
    @apply mb-6 text-lg;
}

.note h1,
h2,
h3,
h4,
h5,
h6,
ul,
pre {
    @apply mb-6;
}

table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    @apply mb-6;

    thead th {
        vertical-align: top;
        padding: 0.5rem 0.75rem;
        border: 1px solid #dee2e6;
        text-align: left;
        font-weight: 600;
        border-bottom-width: 2px;
    }

    tbody td {
        vertical-align: top;
        padding: 0.5rem 0.75rem;
        border: 1px solid #dee2e6;
    }

}

.work {
    @apply shadow text-white rounded p-6 no-underline;

    &__title {
        @apply font-bold mb-1;
    }

    &__desc {
        @apply text-sm leading-normal;
    }

    a,
    a:visited {
        @apply text-white no-underline;

    }

    &:hover {
        @apply shadow-lg;
    }
}


.work--1 {
    background-image: linear-gradient(60deg, #ff9a9e 0%, #fad0c4 100%);
}

.work--2 {
    background-image: linear-gradient(to top, #a18cd1 0%, #a38bda 100%);
}

.work--3 {
    background-image: linear-gradient(60deg, #50c9c3 0%, #96deda 100%);
}

code[class*="language-"], pre[class*="language-"] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	hyphens: none;
	color: inherit;
	text-shadow: none;
	font-family: Roboto Mono, monospace;
	font-size: 1rem;
	line-height: 1.5rem;
	tab-size: 4;
}

code[class*="language-"]::-moz-selection, pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
	text-shadow: none;
	opacity: 1;
	color: #eee;
	background: #363636;
}

code[class*="language-"]::selection, pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
	text-shadow: none;
	opacity: 1;
	color: #eee;
	background: #363636;
}

@media print {
	code[class*="language-"], pre[class*="language-"] {
		text-shadow: none !important;
	}
}

:not(pre) > code[class*="language-"] {
	white-space: normal;
	color: #eee;
	background: #2f2f2f;
	border-radius: 0.2em;
	padding: 0.1em;
}

pre > code[class*="language-"] {
	background: none;
}

pre[class*="language-"] {
	overflow: auto;
	position: relative;
	color: #eee;
	background: #2f2f2f;
	border-radius: 0;
	margin: 0.5em 0;
    @apply rounded p-6;
}

pre[class*="language-"].language-css > code, pre[class*="language-"].language-sass > code, pre[class*="language-"].language-scss > code {
	color: #fd9170;
}

[class*="language-"] .namespace {
	opacity: 0.7;
}

.token.atrule {
	color: #c792ea;
}

.token.attr-name {
	color: #ffcb6b;
}

.token.attr-value {
	color: #a5e844;
}

.token.attribute {
	color: #a5e844;
}

.token.boolean {
	color: #c792ea;
}

.token.builtin {
	color: #ffcb6b;
}

.token.cdata {
	color: #80cbc4;
}

.token.char {
	color: #80cbc4;
}

.token.class {
	color: #ffcb6b;
}

.token.class-name {
	color: #f2ff00;
}

.token.comment {
	color: #616161;
}

.token.constant {
	color: #c792ea;
}

.token.deleted {
	color: #ff6666;
}

.token.doctype {
	color: #616161;
}

.token.entity {
	color: #ff6666;
}

.token.function {
	color: #c792ea;
}

.token.hexcode {
	color: #f2ff00;
}

.token.id {
	color: #c792ea;
	font-weight: bold;
}

.token.important {
	color: #c792ea;
	font-weight: bold;
}

.token.inserted {
	color: #80cbc4;
}

.token.keyword {
	color: #c792ea;
}

.token.number {
	color: #fd9170;
}

.token.operator {
	color: #89ddff;
}

.token.prolog {
	color: #616161;
}

.token.property {
	color: #80cbc4;
}

.token.pseudo-class {
	color: #a5e844;
}

.token.pseudo-element {
	color: #a5e844;
}

.token.punctuation {
	color: #89ddff;
}

.token.regex {
	color: #f2ff00;
}

.token.selector {
	color: #ff6666;
}

.token.string {
	color: #a5e844;
}

.token.symbol {
	color: #c792ea;
}

.token.tag {
	color: #ff6666;
}

.token.unit {
	color: #fd9170;
}

.token.url {
	color: #ff6666;
}

.token.variable {
	color: #ff6666;
}
