@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    @apply text-black text-base;
    font-weight: 400;
}

.transition {
    transition: all .2s ease-in-out;
}

.container {
    @apply max-w-xl mx-auto px-8;
}

.mountains {
    background-image: url('/assets/images/mountains.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 2rem 0 14rem 0;

    @media (min-width: 600px) {
        padding: 4rem 0 6rem 0;
    }
}

.hero {
    padding: 2rem 0;

    @media (min-width: 600px) {
        padding: 3rem 0;
    }
}

.mountains__stickman {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1rem;
}

a,
a:visited {
    @apply text-black;
}

a:hover {
    opacity: 0.75;
}

a.active {
    @apply text-teal underline;
}

.text-grad {
    background: #2193b0;
    /* fallback for old browsers */
    background: linear-gradient(to right, #f2994a, #f2c94c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.note p {
    @apply mb-6 text-lg;
}

.note h1,
h2,
h3,
h4,
h5,
h6,
ul,
pre {
    @apply mb-6;
}

table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    @apply mb-6;

    thead th {
        vertical-align: top;
        padding: 0.5rem 0.75rem;
        border: 1px solid #dee2e6;
        text-align: left;
        font-weight: 600;
        border-bottom-width: 2px;
    }

    tbody td {
        vertical-align: top;
        padding: 0.5rem 0.75rem;
        border: 1px solid #dee2e6;
    }

}

.work {
    @apply shadow-lg text-white rounded p-6;

    &__title {
        @apply font-medium mb-2;
    }

    &__desc {
        @apply text-sm leading-normal mb-2;
    }

    a,
    a:visited {
        @apply text-white;
    }
}

.work--1 {
    background-image: linear-gradient(-223deg, #72C2CC 0%, #4EACBA 100%);
}

.work--2 {
    background-image: linear-gradient(-223deg, #D7C9FA 0%, #AE98F4 100%);
}

.work--3 {
    background-image: linear-gradient(-180deg, #FAD7C9 0%, #F4AE98 100%);
}

code[class*="language-"],
pre[class*="language-"] {
    @apply bg-grey-lighter border-grey-light;
    color: #393A34;
    font-family: monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 1rem;
    line-height: 1.4;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
    @apply p-4 border rounded;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .2em;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988;
    font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string,
.token.attr-value {
    color: #e3116c;
}

.token.punctuation,
.token.operator {
    color: #393A34;
    /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}