@import "_tailwind.css";
@import "_markdown.css";
@import "_syntax.css";
@import "_utils.css";
@import "_animation.css";

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/static/fonts/publicsans-bold-webfont.woff2') format('woff2'),
         url('/assets/static/fonts/publicsans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/static/fonts/publicsans-italic-webfont.woff2') format('woff2'),
         url('/assets/static/fonts/publicsans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/static/fonts/publicsans-regular-webfont.woff2') format('woff2'),
         url('/assets/static/fonts/publicsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	font-family: 'Public Sans', sans-serif;
}

body {
	@apply text-gray-900 text-base;
	font-weight: 400;
}


.avatar-icon {
	position: relative;	

	&:after,
	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		height: 0.8rem;
		bottom: -0.4rem;
		left: 0.4rem;
	}

	&:after {
		@apply bg-teal-400;
		width: 0;
		transition: all .3s cubic-bezier(.86, 0, .07, 1);
	}

	&:before {
		@apply bg-gray-400;
		width: 100%;
	}

	&:hover {
		&:after {
			width: 100%;
			;
		}
	}
}

.navbar ul li a {
	position: relative;

	&:after,
	&:before {
		content: "";
		position: absolute;
		height: 0.20rem;
		bottom: 0;
		left: 0;
	}

	&:after {
		@apply bg-gray-200;
		width: 0;
		transition: all .3s cubic-bezier(.86, 0, .07, 1);
	}

	&:hover {
		&:after {
			width: 100%;
			;
		}
	}

	&.active {

		@apply text-gray-900;

		&:after {
			@apply bg-teal-400;
			width: 100%;
		}
	}
}


a,
a:visited {
	@apply underline;

	&:hover {
		@apply no-underline;
	}
}

a.cool-link,
a:visited.cool-link {
	position: relative;
	@apply no-underline;

	&:after,
	&:before {
		content: "";
		position: absolute;
		height: 0.6rem;
		bottom: 0;
		left: 0;
		z-index: -1;
		transition: all .3s cubic-bezier(.86, 0, .07, 1);
	}

	&:before {
		@apply bg-gray-300;
		width: 100%;
	}

	&:after {
		@apply bg-teal-300;
		width: 0;
	}

	&:hover {
		&:after {
			width: 100%;
		}
	}
}