@import "_tailwind.css";
@import "_markdown.css";
@import "_syntax.css";
@import "_utils.css";
@import "_animation.css";

html {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

body {
	@apply text-gray-900 text-base;
	font-weight: 400;

	@screen dark-mode {
		@apply text-white bg-black;
	}
}

.font-mono {
	font-family: 'Inconsolata', monospace;
}

.box-shadow {
	box-shadow: 0.2rem 0.2rem #000;
}

.box-shadow-teal {
	box-shadow: 0.2rem 0.2rem #4DCBCF;
}

.avatar-icon {
	position: relative;

	&:after,
	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		height: 0.8rem;
		bottom: -0.4rem;
		left: 0.4rem;
	}

	&:after {
		@apply bg-teal-400;
		width: 0;
		transition: all .3s cubic-bezier(.86, 0, .07, 1);
	}

	&:before {
		@apply bg-gray-400;

		@screen dark-mode {
			@apply bg-gray-700;
		}

		width: 100%;
	}

	&:hover {
		&:after {
			width: 100%;
			;
		}
	}
}

.navbar ul li a {
	position: relative;
	@apply no-underline mr-1 py-3 mx-2;

	&:after,
	&:before {
		content: "";
		position: absolute;
		height: 0.10rem;
		bottom: 0;
		left: 0;
	}

	&:after {
		@apply bg-gray-200;

		@screen dark-mode {
			@apply bg-gray-600;
		}

		width: 0;
		transition: all .3s cubic-bezier(.86, 0, .07, 1);
	}

	&:hover {
		&:after {
			width: 100%;
			;
		}
	}

	&.active {

		@apply text-teal-600;

		@screen dark-mode {
			@apply text-white;
		}

		&:after {
			@apply bg-teal-400;
			width: 100%;
		}
	}
}


a,
a:visited {
	@apply underline;

	&:hover {
		@apply text-teal-600;
	}
}

.icons {
	@screen dark-mode {
		svg {
			fill: #fff;
		}
	}
}

.button {
	@apply p-3 bg-gray-300 font-bold text-lg;

	&:hover {
		@apply bg-teal-600 text-white;
	}

	@screen dark-mode {
		@apply bg-teal-600 text-white;

		&:hover {
			@apply bg-teal-700;
		}
	}
}

.text-input {
	@apply appearance-none rounded-none block w-full p-3 border-2;

	&:focus {
		@apply bg-gray-100;
	}

	@screen dark-mode {
		@apply bg-gray-900 border-gray-700;

		&:focus {
			@apply bg-gray-800;
		}
	}
}