---
title: Success! I've got it!
description: Chris Collins is a designer and developer from Scotland.
layout: layouts/base.njk
---

<div class="container my-8">
    <section class="max-w-2xl">
      <h1 class="text-4xl md:text-6xl mb-6  ">Thanks, I've got it!</h1>
      <p class="dm-serif text-xl">I've got your message, I'll get back to you as soon as possible. Feel free to nudge me on <a href="https://www.twitter.com/scottishstoater">Twitter</a> before then.</p>
    </section>
</div>