<header>
    <div class="container py-8 md:flex justify-between items-center md:flex-row-reverse">
        <a href="/" arialabel="Home" class="text-lg md:text-base inline-block no-underline hover:underline flex items-center font-bold md:opacity-25 md:hover:opacity-50 h-card" rel="me">Chris Collins</a>

        <nav class="pt-3 md:py-2 font-medium">
            <a class="no-underline mr-1 md:mr-2 hover:underline {% if page.url == '/' %} active{% endif %}" href="/">Home</a>
            <a class="no-underline mx-1 md:mx-2 hover:underline {% if page.url == '/notes/' %} active{% endif %}" href="/notes">Notes</a>
            <a class="no-underline mx-1 md:mx-2 hover:underline {% if page.url == '/photos/' %} active{% endif %}" href="/photos">Photos</a>
            <a class="no-underline mx-1 md:mx-2 hover:underline external" href="https://represent.io/chrisssy" target="_blank">CV</a>
            <a class="no-underline ml-1 md:ml-2 hover:underline u-email" href="mailto:chriscollins238@gmail.com">Contact</a>
        </nav>
    </div>
</header>