<header>
    <div class="container py-8 md:flex items-center justify-between md:justify-start">
        <div class="flex justify-between items-center md:justify-start">
            <a href="/" class="w-12 h-12 md:w-16 md:h-16 inline-flex dark-mode:border dark-mode:border-gray-700 avatar-icon"><img src="/assets/images/avatar.jpg" alt=""></a>
            <button class="block md:hidden bg-gray-200 hover:bg-gray-300 px-4 py-2" data-id="nav-toggle">Menu</button>
        </div>
        <nav class="hidden md:block text-sm md:text-base navbar mt-4 md:mt-0 -ml-2 md:ml-8" data-id="nav-items">
            <ul class="sm:flex">
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if page.url === '/' %} active {% endif %}" href="/">Home</a></li>
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if page.url === '/about/' %} active {% endif %}" href="/about/">About</a></li>
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if '/photos/' in page.url %} active {% endif %}" href="/photos/">Photos</a></li>
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if '/notes/' in page.url %} active {% endif %}" href="/notes/">Notes</a></li>
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if '/contact/' in page.url %} active {% endif %}" href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>