<header>
    <div class="container py-8 md:flex items-center justify-between md:justify-start">
        <div class="flex justify-between items-center sm:justify-start">
            <a href="/" class="w-12 h-12 md:w-16 md:h-16 inline-flex"><img class="rounded-full shadow-lg" src="/assets/images/avatar.png" alt=""></a>
            <button class="block sm:hidden bg-gray-200 dark-mode:bg-gray-900 dark-mode:hover:bg-gray-700 hover:bg-gray-300 px-4 py-2" data-id="nav-toggle">Menu</button>
        </div>
        <nav class="hidden sm:block navbar mt-4 md:mt-0 -ml-2 md:ml-4 lg:ml-8" data-id="nav-items">
            <ul class="sm:flex">
                {% set activePage = page.url | url %}
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if activePage === '/' %} active {% endif %}" href="/">Home</a></li>
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if activePage === '/about/' %} active {% endif %}" href="/about/">About</a></li>
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if '/notes/' in activePage %} active {% endif %}" href="/notes/">Notes</a></li>
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if '/log/' in activePage %} active {% endif %}" href="/log/">Hiking</a></li>
                <li><a class="block no-underline mr-1 md:mr-4 py-3 px-1 mx-2 {% if '/contact/' in activePage %} active {% endif %}" href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>